@import 'bourbon';
@import 'neat';

.article-form{
  @include margin(25px 0px 0px 0px);

  fieldset{
    border: none;

    label{
      color: #ffffff;
    }

    input{
      color: #000000;
    }

    &.title-field{
      display:inline-block;
      @include margin(0 0 10px 0);
    }

    &.author-field{
      display:inline-block;
      @include margin(0 0 10px 10px);
    }
  }

  $base-spacing: 1.5em !default;
  $flashes: (
          "alert": #fff6bf,
          "error": #fbe3e4,
          "notice": #e5edf8,
          "success": #e6efc2,
  ) !default;

  @each $flash-type, $color in $flashes {
    .flash-#{$flash-type} {
      background-color: $color;
      color: shade($color, 60%);
      display: block;
      margin-bottom: $base-spacing / 2;
      padding: $base-spacing / 2;
      text-align: center;
    }
  }


}